        * {
            padding: 0;
            margin: 0;
        }
        body {
            background-color: rgb(73, 73, 224);
            font-family: sans-serif;
        }
        #login {
            font-size: medium;
            height: 40px;
            width: 80px;
            color: white;
            background-color: rgb(73, 73, 224);
            border: 1px solid white;
            border-radius: 15px;
            position: relative;
            top: 200px;
            left: 200px;
        }
        #login:hover {
            color: black;
            background-color: white;
            cursor: pointer;
        }
        .login-model {
            width: 400px;
            height: 730px;
            background-color: white;
            position: fixed;
            right: -500px;
            padding: 40px;
            transition: 0.5s;
        }
        .login-model form {
            margin-top: 40px;
        }
        .login-model form label {
            display: block;
        }
        .login-model form input {
            width: 100%;
            height: 40px;
            margin-top: 10px;
            border: 2px solid black;
            border-radius: 5px;
        }
        .login-model form button {
            width: 100%;
            height: 40px;
            margin-top: 30px;
            background-color: rgb(40, 139, 221);
            color: white;
            font-size: 1.2rem;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        .login-model form button:hover {
            cursor: pointer;
            background-color: rgb(4, 65, 116);
        }
        .login-model form p {
            margin-top: 40px;
        }
        .login-model form a {
            text-decoration: none;
            color: rgb(40, 139, 221);
        }
        .login {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
        }
        .login h4 {
            color: rgb(40, 139, 221);
        }
        span {
            font-size: 30px;
        }
        span:hover {
            cursor: pointer;
        }
        .showModel {
            right: 0;
        }